<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/style/harid.css" />
    <title>Plan</title>
  </head>
  <body>
    <main>
      <section class="align-elements">
        <div class="container">
          <h1>EJS Framework</h1>
          <div class="card">
            <div class="card-body">
              <form id="create-form" action="/create-item" method="POST">
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Product Name</span>
                  </label>
                  <input
                    id="create-file"
                    name="item"
                    autocomplete="off"
                    type="text"
                    placeholder="ex: apple..."
                    class="input input-primary"
                    required
                  />
                </div>

                <div class="form-control">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
